version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      CLIENT_ORIGIN: ${CLIENT_ORIGIN}
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.fr
      args:
        NEXT_PUBLIC_SOCKET_URL: http://localhost:3000
        NEXT_PUBLIC_FIREBASE_API_KEY: ${NEXT_PUBLIC_FIREBASE_API_KEY}
        NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ${NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN}
        NEXT_PUBLIC_FIREBASE_PROJECT_ID: ${NEXT_PUBLIC_FIREBASE_PROJECT_ID}
        NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ${NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET}
        NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: ${NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}
        NEXT_PUBLIC_FIREBASE_APP_ID: ${NEXT_PUBLIC_FIREBASE_APP_ID}
        NEXT_PUBLIC_FIREBASE_DATABASE_URL: ${NEXT_PUBLIC_FIREBASE_DATABASE_URL}
    container_name: frontend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
